*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    color: blue;
    text-shadow: 1px 1px 1px black;

}

a{
    text-decoration: none;
    /* color: inherit; */
    color: aquamarine;
    background-color: darkred;
}

.diferente{
    text-shadow: none;
    color: darkorange;
}

h1 span{
    background-color: orange;
    text-shadow: none;
}

a{
    color: brown;
    background-color: blueviolet;
    text-shadow: none;
}

/* Ejemplo especificidad */


.blue{
    color: blue;

}

#red{
    color: red;
}

h1{
    color: green!important;
}

